#!/bin/sh
# [general]
PROJECT_PATH="/path/to/project"          # Absolute path to the project, e.g. /var/www/my-project
GITCC_PATH="path/to/gitcc"               # Relative path to the project, e.g. "bin/git-commit-check"
CONTAINER_NAME="container_name"
SHELL="/bin/sh"

# Set 0 to force gitcc to ignore any containers.
FORCE_CONTAINER_RUN=1

# Set 0 to disable all checks.
CHECKS_ENABLED=1

# Set 1 to skip prompting user for confirmation when there are warnings.
FORCE_IGNORE_WARNINGS=0

# Add the file names of all the scripts located under the 'scripts/use' directory separated by a line.
# Prepend a '#' to any file name that you want to disable e.g., #03_php_artisan_test.sh
SCRIPTS_ENABLED="
01_php_lint.sh
02_phpcs.sh
03_php_artisan_test.sh
04_composer_audit.sh
05_eslint.sh
06_prettier.sh
07_tsc.sh
08_npm_audit.sh
09_vite_build.sh
"

# [interface]
SHOW_OUTPUT=1
SHOW_ABOUT=1
SHOW_LOG_URL=1
WIDTH=93
RED="\e[0;31m"
BRED="\e[1;31m"     # Bold red.
GREEN="\e[0;32m"
YELLOW="\e[0;33m"
WHITE="\033[38;5;15m"
CYAN="\e[0;36m"
DARKSEAGREEN3="\033[48;5;115m"
BLUE="\033[38;5;12m"
BOLD="\e[1m"
UNDERLINED="\033[4m"
INVERT="\033[7m"
NC="\e[0m"          # No color/modifier.
SECTION_SYMBOL=""
STAR_SYMBOL=✰
HEADER_SYMBOL=➡️
MESSAGE_SYMBOL=""
LOG_SYMBOL=📋
TIME_SYMBOL=🕒
LOAD_SYMBOL=⌛
PASS_SYMBOL=🟢
#PASS_SYMBOL=🔵
WARN_SYMBOL=🟡
#WARN_SYMBOL=🟠
FAIL_SYMBOL=🔴

# [log]
LOG=1
LOG_FILE="./path/to/log-file"
LOG_FORMAT="[%s] local.%s: %s\nMessage: %s" # datetime, log level, header, message
LOG_URL="https://www.my-app.com/logs"
