#!/bin/sh
# [general]
PROJECT_PATH="path/to/project"
GITCC_PATH="path/to/gitcc"      # relative to the project path
GITCC_REPORTS_PATH="$GITCC_PATH/reports"
GITCC_SCRIPTS_PATH="$GITCC_PATH/scripts"
cd "$PROJECT_PATH" || exit

# [scripts]
# Include the ids of those scripts that should be executed.
ENABLED="01,02,03,04,05"

# [about]
BACKEND_SYNTAX_VERSION=$(php -r 'echo phpversion();')
BACKEND_SYNTAX_TOOL="PHP"
FRAMEWORK_VERSION=$(php artisan --version)
FRAMEWORK_TOOL="Laravel"
BACKEND_STANDARDS_VERSION=$(./vendor/bin/phpcs '--version')
BACKEND_STANDARDS_TOOL="CodeSniffer"
BACKEND_TESTS_VERSION=$(./vendor/bin/phpunit '--version')
BACKEND_TESTS_TOOL="PHPUnit"
BACKEND_DEPENDENCIES_VERSION=$(composer '--version' 2>&1 | head -n 1)
BACKEND_DEPENDENCIES_TOOL="Composer"
FRONTEND_DEPENDENCIES_VERSION=$(node --version)
FRONTEND_DEPENDENCIES_TOOL="Node"
FRONTEND_DEPENDENCIES_VERSION_2=$(npm --version)
FRONTEND_DEPENDENCIES_TOOL_2="NPM"

# [interface]
COMPACT=0
WIDTH=93
RED="\e[0;31m"
BRED="\e[1;31m"     #Bold red
GREEN="\e[0;32m"
YELLOW="\e[0;33m"
CYAN="\e[0;36m"
BOLD="\e[1m"
NC="\e[0m"          #No color/modifier
SECTION_SYMBOL=""
HEADER_SYMBOL=➡️
MESSAGE_SYMBOL=""
LOG_SYMBOL=📋
TIME_SYMBOL=🕒
LOAD_SYMBOL=⌛
PASS_SYMBOL=🟢
WARN_SYMBOL=🟡
FAIL_SYMBOL=🔴

# [log]
LOG=1
LOG_FILE="./path/to/log-file"
LOG_FORMAT="[%s] local.%s: %s\nMessage: %s" # datetime, log level, header, message

# [log-viewer]
LOG_VIEWER=1
LOG_VIEWER_URL="https://www.example.com"
