#!/bin/sh
# This is the script for the pre-commit git hook
# To instruct git to use this script run `git config core.hooksPath scripts/hooks`

CONTAINER_ENGINE=$(which docker 2>/dev/null || which podman 2>/dev/null)
PROJECT_PATH="/path/to/project"
CONTAINER_NAME="container_name"
SHELL="/bin/sh"
COMMAND="vendor/bin/gitcc.sh"
#DOCKER_COMPOSE_PATH="/path/to/docker-compose.yml"
#CONTAINER_SERVICE="container_service_name"

if [ -z "$CONTAINER_ENGINE" ]; then
    vendor/bin/gitcc.sh
else
    $CONTAINER_ENGINE exec -tw "$PROJECT_PATH" "$CONTAINER_NAME" "$SHELL" -c "$COMMAND"
    #Same but using Dockers compose plugin (if installed)
    #cd "$DOCKER_COMPOSE_PATH" || exit 1
    #docker compose exec -Tw "$PROJECT_PATH" "$CONTAINER_SERVICE" "$SHELL" -c "$COMMAND"
fi
